/* Buy画面のcss----------------------- */

/* ① positionで細かく位置指定ができる--- */

/* 参考URL */
/*　https://saruwakakun.com/html-css/basic/relative-absolute-fixed　*/

/*.page_name{
	position: absolute;
	top: 400px;
	left: 320px;
	font-size: 5.0em;
}

.next_button_area{
	position: absolute;
	top: 600px;
	left: 450px;
}

.next_button{
	font-size: 1.4em;
    font-weight: bold;
    padding:20px 30px;
}*/
/* ---------------------------------- */


/* ② flexboxで簡単に,縦横を中央に設置できる */

/* 参考URL */
/* https://ics.media/entry/17522/ */
/* https://goodsan.jp/wp/justifycontent/ */
/* https://coliss.com/articles/build-websites/operation/css/css3-flexbox-properties-by-scotch.html */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page_name{
	font-size: 5.0em;
}

.next_button{
	font-size: 1.4em;
    font-weight: bold;
    padding:20px 30px;
}
/* ----------------------------------- */

/* ---------------------------------------*/


/* purchase画面のcss---------------------- */

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.item {
	font-size: 5.0em;
}

.purchase_button {
	font-size: 1.4em;
    font-weight: bold;
    padding:20px 30px;
}

/* ---------------------------------------- */
