<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="/public/style/style.css">
  <title>Purchase画面</title>
  <%- include("./_share/output.ejs") %>
</head>

<body>
  
  <div class="container">
    <% for(let i in itemdetail) { %>
      <% let detail = itemdetail[i]; %>
      <div class="box">
        <h1 class="item"><%= detail.item %></h1>
        <form class="purchase_button_area" action="/output/" method="get">
          <input type="hidden" name="item" value="<%= detail.item %>">
          <button type="submit" class="purchase_button" onclick="output(<%= detail.venderaddress %>);">buy</button>
        </form>
      </div>
    <% } %>
  </div>
  
</body>

</html>