<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="/public/style/style.css">
	<title>Top画面</title>
</head>

<body>

	<h1 class="page_name">Webアプリ</h1>
	
	<form class="next_button_area" action="/purchase/">
		<button type="submit" class="next_button">Open</button>
	</form>

</body>

</html>